* {
  transition: 0.3s ease-in;
}

.toggle-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.toggle-container label {
  width: 45px;
  height: 25px;
  position: relative;
  top: 0;
  left: 0;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow:
    inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.toggle-container label:after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 3px;
  left: 3px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.toggle {
  width: 0;
  height: 0;
  visibility: hidden;
}

.toggle:checked + label {
  background: #242424;
}

.toggle:checked + label:after {
  left: 42px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}

.toggle-container label:active:after {
  width: 30px;
}

.toggle-container label .toggle-icon {
  position: absolute;
  top: 5px;
  width: 20px;
  z-index: 100;
}

.toggle-container label .sun {
  left: 2px;
  fill: #fff;
}

.toggle-container label .moon {
  right: 3px;
  fill: #7e7e7e;
}

.toggle:checked + .toggle-container label .sun {
  fill: #7e7e7e;
}

.toggle:checked + .toggle-container label .moon {
  fill: #fff;
}

@media screen and (max-width: 830px) {
  .toggle-container {
    margin-top: 10px;
  }
}
